:root {
  --branding-color: #6c63ff;
  --primary-color: #d6b7e2
  --secondary-color: #596854 
  --box-shadow: 0 5px 10px rgba(0, 0, 0.3);
}
body {
  text-align: center;
  padding: 20px;
  margin: 50px;
}

 h3 {
    font-size: 24px;
    opacity: 0.7;
}

a {
  color: var(--accent-color);
  display: flex;
  background: #c2d1f4b9;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
  text-decoration: none;
}
a:visited {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
  
}
.navigation-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    text-decoration: none;
}
.about-paragraphs {
  display: flex;
  margin: 30px 0;
}
.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 24px;
  text-decoration: none;
}

h1 {
  color: black;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}
